.footer {
	background-color: #333333;

	&-container {
		padding: 88px 0px 0px 0px;
	}

	&-top {
		margin: 0px 0px 38px 0px;
		padding: 0px 0px 64px 0px;
		border-bottom: 1px solid #ffffff20;
		display: flex;
		justify-content: space-between;
	}

	&-nav {
		// flex-basis: 60%;
		display: flex;
		justify-content: space-between;

		&__list {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
		}

		&__item {
			flex-basis: 50%;
			margin: 0px 0px 16px 0px;
		}

		&__link {
			text-decoration: none;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.04em;
			color: #ffffff;
			transition: opacity 0.3s ease;
			&:hover {
				opacity: 0.6;
			}
		}
	}

	&-logo__container {
		margin: 0px 124px 0px 0px;
	}

	&-subscription {
		&__title {
			margin: 0px 0px 19px 0px;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.04em;
			color: #ffffff;
		}

		&__email {
			padding: 0px 0px 0px 24px;
			width: 524px;
			height: 56px;
			background: transparent;
			color: #ffffff;
			opacity: 0.6;
			&:focus {
				outline: none;
			}
		}
	}
}

.footer {
	&-contact {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__adress {
			flex-basis: 20%;
		}

		&__email {
			flex-basis: 20%;
			display: flex;
			flex-direction: column;
		}

		&__social {
			flex-basis: 43%;
			display: flex;
			justify-content: space-between;
		}
	}

	&-social {
		&__link {
			display: inline-block;
			color: #ffffff;
			transition: opacity 0.3s ease;
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
.contact {
	&-adress {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */
		letter-spacing: 0.04em;
		/* portobello_white */
		color: #ffffff;
	}

	&-email {
		&__link {
			margin: 0px 0px 8px 0px;
			display: inline-block;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			/* identical to box height, or 150% */
			letter-spacing: 0.04em;
			/* portobello_white */
			color: #ffffff;
		}
	}

	&-phone {
		&__link {
			display: inline-block;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			/* identical to box height, or 150% */
			letter-spacing: 0.04em;
			/* portobello_white */
			color: #ffffff;
		}
	}
}
.social {
	&-links {
	}
}
